@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
a, a:link{
    text-decoration: none;
    color: white;
}
.mx-auto{
    margin: 0 auto;
}

.d-flex{
    display: flex;
}
.j-content{
    justify-content: space-around;
}
.a-items{
    align-items: center;
}
.f-gap{
    gap:0 10px;
}


.container{
    width: 1000px;
    height: 60px;
    background-color: rgba(32, 14, 37, 0.7);
  
    
}

.login>a:nth-child(1){
    position: relative;
}
.login img{
    position: absolute;
    left:-35px;
    top: -3px;
}


